@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #FCDE07;
  --color-secondary: #10562C;
  --color-description: #222222;
  --color-light: #1F9B5A;
  --font-sf-pro: var(--font-sf-pro);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sf-pro);
}

@keyframes scroll-slow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-slow {
  animation: scroll-slow 40s linear infinite;
}

iframe {
  transform: none !important;
  will-change: auto !important;
}
iframe[style*="transform"] {
  transform: none !important;
  will-change: auto !important;
}

.products-scroll::-webkit-scrollbar {
  display: none;
}
.products-scroll {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}
